body {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  // justify-content: space-between;
  // height: 20px;
}

form {
  display: block;
  padding: 60px;

  border: solid 1px gray;
  border-radius: 4px;
  background-color: white;
  box-shadow: 2px 2px 2px gray;
  text-align: center;

  input {
    display: block;
    margin: 15px 0;
  }
}
